@font-face {
    font-family: "Baskerville";
    src: url("OnlineWebFonts_COM_bb4a1f636326755327542a1c76c930f0/@font-face/5770baa7788e08e9b8cf0195faa46e00.ttf");
}
@font-face {
    font-family: "LS-Bold";
    src: url("LS-Bold/ffonts.net.txt");
}

body
{
    background-color: #c8c8c8;
    margin: auto;
    width: 80vw;
    font-family: Arial, Helvetica, sans-serif ;
}

h1
{
    font-weight: bolder;
    text-align: center;
    font-size: 75px;
    font-family: "Baskertville", serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;


}
    
a {
    color:#cf0025 ;
    font-weight: bold;
}

h2
{
    color:#cf0025;
    font-family: "Baskertville", serif;
    font-size: 40px;
    font-weight: bold;

}

th{
    padding: 8px;
}

td{
    padding:8px;
}
#lgentete{
    background: #333333;
    color:white
}
tr:hover
{
    background: #999999;
    cursor: pointer;
}
.background
{
    background: #dddd;
}
figure
{
    border: 2px solid #cf0025;
    width: 100%;
    border-radius:1em ;
    background: #333333;
    text-align: center;
    color: rgb(245, 244, 244);
    margin-left:0px;
}
figcaption
{
    font-style: italic;
    font-size: 1.15em;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 60px;
  
   
    
}
img
{
margin : 40px; 
margin-bottom: 50px;
width: 60em;
text-align: center;
}
table
{
    border-collapse: collapse;
    width: 100%;

}
#protocole
{
    line-height: 30px;
    color: #4e41ae;
    border:dashed 3px  #4e41ae;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:#b7b7b7;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 16px;
}
.td{
    font-weight: bold;
}
p{
    font-size: 16px;
    
}